@import "tailwindcss";


body{
  font-family: var(--font-manrope), sans-serif;
  background-color: black;
  color: white;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}




